* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.box1{
    height: 300px;
    width: 300px;
    background: linear-gradient(white,purple);
}

.box2{
    height: 300px;
    width: 300px;
    background: linear-gradient(to right,white,purple);
}

.box3{
  height: 300px;
  width: 300px;
  background: linear-gradient(to right bottom, white,purple);
}
  