@font-face {
    font-family:f1 ;
    src: url(./NType82-Regular.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: f1;
}
html, body{
    width: 100%;
    height:100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
}

#nav{
    padding: 10px 10px;
}

#nav a{
    color: white;
    font-size: 25px;
    margin-right: 27px;
    text-decoration: none;
}

#main>h1{
    font-size: 250px;
    font-weight: 400;
    padding: 10px;
    padding-left: 30px;
}

#btmleft{
    width: 450px;
    position: absolute;
    bottom: 20%;
    left: 5%;
}
 #btmleft h3{
    margin-top: 30px;
    padding: 8px 0px;
    font-size: 25px;
 }

 #btmleft p{
    padding: 5px;
    font-size: 20px;
 }
 #btmbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 30px 70px;
        position: absolute;
        bottom: 0;
        left: 0;
 }

 #btmbar a{
    color: #fff;
    text-decoration: none;
 }

 #main>img{
    position: absolute;
    height: 350px;
     }

#first{
    top: 50%;
    right: 5%;
    transform: translateY(-90%);
    height: 350px;
    z-index: 9;
    }
#second{
    top: 75%;
    right: 25%;
    transform: translateY(-100%);
    height: 350px;
    z-index: 99;
    }

#third{
    top: 85%;
    right: 5%;
    transform: translateY(-70%);
    height: 50px;
    z-index: 99;
    }