* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.name-box {
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 0px auto;
  padding: 40px 40px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#desc {
  font-style: italic;
}
#luffy {
  position: absolute;
  height: auto;
  width: 220px;
  top: 10px;
  right: 0px;
}

.about-section {
  background-color:#ebdd7e;
  text-align: center;
  font-size: 20px;
  padding: 60px 20px;
  margin: 50px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-section h2 {
  font-size: 35px;
  margin-bottom: 25px;
  display: block inline;
  padding-bottom: 5px;
}

.about-section p {
  font-size: 25px;
  line-height: 1.6;
  margin: 0 auto;
}

.education-section {
  background-color: #9dd7f4;
  text-align: center;
  font-size: 20px;
  padding: 60px 20px;
  margin: 50px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education-section h2 {
  font-size: 35px;
  margin-bottom: 35px;
  padding-bottom: 5px;
}

.edu-box {
  background-color: white;
  color: black;
  padding: 5px 30px;
  margin: 20px 90px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-section {
  background-color: #ebdd7e;
  text-align: center;
  font-size: 20px;
  padding: 60px 20px;
  margin: 50px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.skills-section h2 {
  font-size: 35px;
  margin-bottom: 35px;
  padding-bottom: 5px;
}

.skill-box {
  background-color: white;
  color: black;
  padding: 5px 30px;
  margin: 20px 90px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pro-section {
  background-color: #9dd7f4;
  text-align: center;
  font-size: 20px;
  padding: 60px 20px;
  margin: 50px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.pro-section h2{
  font-size: 35px;
  margin-bottom: 35px;
  padding-bottom: 5px;
}

.pro-box{
   background-color: white;
  color: black;
  padding: 5px 30px;
  margin: 20px 90px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.contact-section{
  background-color: #ebdd7e;
  text-align: center;
  font-size: 20px;
  padding: 60px 20px;
  margin: 50px 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-section h2{
  font-size: 35px;
  margin-bottom: 35px;
  padding-bottom: 5px;
}

.contact-box{
  background-color: white;
  color: black;
  padding: 5px 30px;
  margin: 20px 90px;
   border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}