* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 35, 35);
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  padding: 20px;
}
.card {
  height: 320px;
  width: 200px;
  border-radius: 30px;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  gap: 15px;
  box-shadow: 0 15px 40px rgba(235, 232, 232, 0.25);
  flex-direction: column;
  transition: all 0.3s ease;
}

.card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card h2 {
  font-size: 22px;
  padding: 5px 0;
  color: rgb(0, 0, 0);
}

.card p {
  font-size: 15px;
  text-align: center;
  color: rgb(46, 89, 169);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card button {
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  background: #35b3d4;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card button:hover {
  background: transparent;
  border: 2px solid #35b3d4;
  color: rgb(255, 10, 10);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 12px 28px rgba(0, 0, 0, 0.22);
}
